/*Utilizamos el selector universal para establecer que el tamaño de todas las cajas se mida según el valor de su width*/
* {
  box-sizing: border-box;
}
/*Utilizamos el selector de etiqueta h1 ubicado en nuestro index para establecer su tipo de letra, tamaño y color de texto*/
h1 {
  font-family: monospace;
  font-size: 40px;
  color: steelblue;
}
/*Utilizamos un selector descendente (combinación de selector de etiqueta body con selector de clase .index, y de etiqueta a) para estabelecer el tipo de letra, tamaño, color, margen, altura y decoración de texto de nuestros links en el index*/
body.index a {
  font-family: sans-serif;
  font-size: 20px;
  color: steelblue;
  margin: 20px;
  line-height: 30px;
  text-decoration: none;
}
/*Utilizamos un selector descendente (combinación de selector de etiqueta body con selector de clase .index, y la pseudo-clase a:hover) para implementar el subrayado de los links cuando pasamos el cursor sobre ellos en nuestro index*/
body.index a:hover {
  text-decoration: underline;
}

/*Cajas de Ejercicio A*/
.boxA1 {
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
  position: static;
}

.boxA2 {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: static;
}

.boxA3 {
  width: 200px;
  height: 200px;
  background-color: #b7d84b;
  position: static;
}

/*Cajas de Ejercicio B*/
.boxB1 {
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
  position: relative;
}

.boxB2 {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: relative;
}

.boxB3 {
  width: 200px;
  height: 200px;
  background-color: #b7d84b;
  position: relative;
}

/*Cajas de Ejercicio C*/
.boxC1 {
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
  position: relative;
}

.boxC2 {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: relative;
  left: 200px;
}

.boxC3 {
  width: 200px;
  height: 200px;
  background-color: #b7d84b;
  position: relative;
}

/*Cajas de Ejercicio D*/
.boxD1 {
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
  position: relative;
}

.boxD2 {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: relative;
  left: 200px;
}

.boxD3 {
  width: 200px;
  height: 200px;
  background-color: #b7d84b;
  position: relative;
}

/*Cajas de Ejercicio E*/
.boxE1 {
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
  position: absolute;
  top: 0;
  left: 0;
}

.boxE2 {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: absolute;
  top: 0;
  right: 0;
}

.boxE3 {
  width: 200px;
  height: 200px;
  background-color: #b7d84b;
  position: absolute;
  bottom: 0;
  left: 0;
}

.boxE4 {
  width: 200px;
  height: 200px;
  background-color: #ebde52;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Cajas de Ejercicio F*/
.orange {
  width: 40px;
  height: 40px;
  background-color: #f95b34;
  position: absolute;
  top: 40%;
  left: 40%;
}

/*Cajas de Ejercicio G*/
.boxG1 {
  background-color: #44accf;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.boxG2 {
  background-color: #ff9c34;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

/*Cajas de Ejercicio H*/
.boxH1 {
  background-color: #ee3e64;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
}

.boxH2 {
  background-color: #b7d84b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80%;
  right: 0;
}

/*Cajas de Ejercicio H2*/
.boxH2a {
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
}

.boxH2b {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: absolute;
  left: 100px;
}

/*Cajas de Ejercicio H3*/
.boxH3 {
  width: 200px;
  height: 200px;
  background-color: #44accf;
  position: absolute;
  left: 100px;
  top: 0;
}

/*Utilizamos el selector de etiqueta p para establecer los márgenes de izquierda y derecha de nuestros párrafos en el ejercicio I*/
main.ex-i {
    margin-left: 217px;
    margin-right: 217px;
}
/*Utilizamos el selector de etiqueta footer para establecer el color de fondo, y posición de nuestro pie de página en el ejercicio I*/
footer.ex-i {
  background-color: #f95b34;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/*Utilizamos un selector descendente para establecer la altura del texto y el margen izquierdo de los párrafos dentro de nuestro pie de páginaen el ejercicio I*/
footer.ex-i p {
    line-height: 6px;
    margin-left: 225px;
}
/*Utilizamos la combinación del selector de etiqueta body con el selector de clase .ex-j para establecer el color de fondo y margen de nuestro documento en el ejercicio J*/
body.ex-j {
  background-color: #44accf;
  margin: 0;
}
/*Utilizamos el selector de clase .main-box para contener las cajas que formarán la estructura de nuestro documento. Le damos position relative y lo ubicamos al centro. Además, establecemos su ancho, color de fondo y relleno inferior*/
.main-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: white;
  padding-bottom: 60px;
}
/*Utilizamos la combinación del selector de etiqueta nav con el selector de clase .ex-j para establecer el ancho, la altura y color de fondo de nuestra barra de navegación*/
nav.ex-j {
  height: 50px;
  width: 900px;
  background-color: #b7d84b;
}
/*Utilizamos un selector descendente (de etiqueta nav y a) para establecer el display de nuestros links en la barra de navegación a bloques y darles la propiedad float para ubicarlos a la izquierda ordenadamente. Además, establecemos su ancho; borde derecho; tipo, tamaño y color de letra; entre otros*/
nav a {
  display: block;
  float: left;
  width: 7%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  color: white;
  border-right: 1px solid #91ab3b;
}
/*Utilizamos un selector descendente (de etiqueta nav y la pseudo-clase a:hover) para establecer el color de fondo de los bloques que contienen nuestros links cuando pasamos el cursor sobre ellos*/
nav a:hover {
  background-color: #91ab3b;
}
/*Utilizamos la combinación del selector de etiqueta main con el selector de clase .ex-j para contener el contenido principal de nuestro documento (los párrafos). Le damos position relative y establecemos su relleno; y tipo, tamaño y altura de letra*/
main.ex-j {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 253px;
  padding-top: 20px;
}
/*Utilizamos la combinación del selector de etiqueta footer con el selector de clase .ex-j para definir nuestro pie de página y contener una línea con los derechos de autor del documento. Le damos position fixed para que se vea siempre fijo en la parte inferior del navegador. También, establecemos su ancho; relleno izquierdo; color de fondo; tipo, tamaño y altura de letra*/
footer.ex-j {
  position: fixed;
  bottom: 0;
  width: 900px;
  background-color: #f36283;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding-left: 20px;
}
/*Utilizamos la combinación del selector de etiqueta aside con el selector de clase .ex-j para almacenar contenido adicional del documento que se verá a un lado del navegador. Le damos position absolute y lo ubicamos al lado derecho ocupando espacio dentro y fuera del main. Además, establecemos su borde superior; color de fondo; relleno izquierdo y derecho; color de texto; tipo, tamaño, y altura de letra*/
aside.ex-j {
  position: absolute;
  top: 150px;
  left: 730px;
  bottom: 100px;
  width: 250px;
  border-top: 5px solid #f95b34;
  background-color: #fa8366;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
